
:root{
    --white-color: #fff;
    --black-color: #000;
    --gray-carsoul-color: #869791;
    --gray-color: #eee;
}

*{
    box-sizing: border-box;
}
body{
    margin: 0;
}

/* start components */
.title{
    margin-bottom: 60px !important;
}
.title h3{
    font-size: 2.5rem !important; 
    padding: 5px 0 0;
    width: fit-content;
}
.title h3::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 4px dotted var(--gray-color);
}
.inner:hover .layer{
    opacity: 1 !important;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
}
/* end components */

/* start navbar */
nav{
    background-color: transparent;
    z-index: 1000;
}
nav.navbar-scrolled{
    background-color: var(--white-color) !important;
}
.nav-pills .nav-link.active,
nav.navbar-scrolled .nav-link,
nav.navbar-scrolled a.navbar-brand{
    color: var(--black-color) !important;
}
nav a.active::after{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: var(--white-color);
}
/* nav.navbar-scrolled a.active::after{
    background-color: var(--black-color);
} */
/* end navbar */
/* start landing */
.landing{
    background-image: url(../imgs/bg.jpg) ;
    background-size: cover;
    background-position: center center;
    z-index: 1;
}
.landing::after{
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: -1;
}
.landing .caption h1{
    font-size: 50px;
}
.landing .caption h2 span::after{
    content: '';
    font-weight: 400;
    animation: words 4s infinite;
}
@keyframes words{
    0% {content: "|";}
    1.75% {content: " L|";}
    3.5% {content: " La|";}
    5.25% {content: " Lar|";}

    7% {content: " Lary|";}
    8.75% {content: " Lary D|";}
    10.75% {content: " Lary Da|";}
    12.25% {content: " Lary Dan|";}

    14% {content: " Lary Dani|";}
    15.75% {content: " Lary Danie|";}
    17.75% {content: " Lary Daniel|";}
    19.25% {content: " Lary Daniels|";}

    21% {content: " Lary Daniel|";}
    22.75% {content: " Lary Danie|";}
    24.5% {content: " Lary Dani|";}
    26.25% {content: " Lary Dan|";}
/* /////////////// */
    28% {content: "Lary Da|";}
    29.75% {content: "Lary D|";}
    31.5% {content: "Lary|";}
    33.25% {content: "Lar|";}

    35% {content: "La|";}
    36.75% {content: "L|";}
    38.5% {content: "|";}
    40.25% {content: "D|";}

    42% {content: "De|";}
    43.75% {content: "Dev|";}
    45.5% {content: "Deve|";}
    47.25% {content: "Devel|";}

    49% {content: "Develo|";}
    50.75% {content: "Develop|";}
    52.5% {content: "Develope|";}
    54.25% {content: "Developer|";}

    56% {content: "Develope|";}
    57.75% {content: "Develop|";}
    59.5% {content: "Develo|";}
    61.25% {content: "Devel|";}

    63% {content: "Deve|";}
    64.75% {content: "Dev|";}
    66.5% {content: "De|";}
    68.25% {content: "De|";}

    70% {content: "D|";}
    71.75% {content: "|";}
    73.5% {content: "D|";}
    75.25% {content: "De|";}

    77% {content: "Des|";}
    78.75% {content: "Desi|";}
    80.5% {content: "Desig|";}
    82.25% {content: "Design|";}

    84% {content: "Designe|";}
    85.75% {content: "Designer|";}
    87.5% {content: "Designe|";}
    89.25% {content: "Design|";}

    91% {content: "Desig|";}
    92.75% {content: "Desi|";}
    94.5% {content: "Des|";}
    96.25% {content: "De|";}

    98% {content: "D|";}
    98% {content: "|";}
    100% {content: "|";}
}
.landing .social-icons span{
    background-color: rgba(0,0,0,0.3);
}
/* end landing */
/* start about */
.about .progress {
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.15) ;
}
.about .progress span{
    letter-spacing: 1.5px;
    font-weight: 500;
}
.about .buttons{
    margin-top: 50px;
}
.about .btn{
    font-size: 13px;
}
.about .buttons:hover .btn-1,
.about .btn-1:hover{
    background: var(--white-color) !important;
    color: var(--black-color) !important;
}
.about .before-image::before,
.about .image::before,
.about .image::after{
    position: absolute;
    content: '';
    bottom: -10px;
    left: -10px;
    /* top: -20px; */
    right: -10px;
    height: 70%;
    width: 70%;
    border-left: 3px dotted var(--gray-color);
    border-bottom: 3px dotted var(--gray-color);
}
.about .before-image::before,
.about .image::before{
    bottom: -20px;
    left: -20px;
    right: -20px;
}
.about .before-image::before{
    bottom: -10px;
}
/* end about */
/* start services */
.contact .icon,
.services .icon{
    width: 70px;
    height: 70px;
    transition: all 1s ease;
}
.services .content p{
    font-size: 14px;
    word-spacing: 2px;
}
nav.navbar-scrolled a.active::after,
.contact .inner:hover .icon,
.services .inner:hover .icon{
    background-color: var(--black-color) !important;
    color: var(--white-color) !important;
}
/* end services */
/* start portfolio */
.portfolio h5{
    letter-spacing: 2px;
    font-size: 0.9rem;
}
.portfolio .layer,
.inner a span{
    transition: all 0.5s;
}
.portfolio .icons a span{
    width: 50px;
    height: 50px;
}
.nav-pills .nav-link.active{
    background-color: transparent !important;
}.nav-pills .nav-link.active span{
    border-bottom: 2px solid #000;
}
.nav-pills .nav-link:hover,
.nav-pills .nav-link{
    color: var(--black-color);
}
/* end portfolio */
/* start testimonial */
.testimonial .image{
    width: 100px;
    height: 100px;
}
.carousel button[type="button"] {
    width: 10px;
    height: 10px;
    background-color: var(--gray-carsoul-color);
}
.carousel .carousel-inner{
    padding-bottom: 130px; 
}
.carousel .carousel-indicators{
    margin-bottom: 130px;
}
.carousel .text span{
    font-size: 12px !important;
}
/* end testimonial */
/* start team */
.team .layer{
    transform: rotateY(180deg) scale(0.5 , 0.5);
    opacity: 0.9;
}
.about .btn,
.team .layer,
.team .inner img{
    transition: all 1s ease;
}
.team .inner:hover img{
    transform: scale(1.2);
}
.team .inner:hover .layer{
    transform: rotateY(0) scale(1);
}
.contact form button:hover,
.inner a:hover span{
    background-color: transparent !important;
    color: var(--black-color) !important;
}
/* end team */
/* start contact */
.contact .icon{
    cursor: pointer;
    transition: all 0.7s ease;
}
.contact form button:hover {
    background-color: var(--white-color) !important;
}
/* end contact */
/* start footer */
footer p{
    font-size: 0.8rem;
}
/* end footer */
/* mediaaaaaaaaaa */
@media (min-width:768px){
    .landing .caption h2{
        font-size: 4.4rem;
    }
}
